.careersOpenings{ background:url("careersOpenings.png") top left no-repeat; }
.design-hover{ width:273px; height:274px; background-position:-10px -10px; }
.design{ width:273px; height:274px; background-position:-10px -294px; }
.hr{ width:271px; height:272px; background-position:-10px -578px; }
.marketing{ width:275px; height:272px; background-position:-10px -860px; }
.sw{ width:271px; height:272px; background-position:-10px -1142px; }
.design-hover{ width:271px; height:271px; background-position:-10px -1424px; }
.marketing-hover{ width:275px; height:271px; background-position:-10px -1705px; }
.sw-hover{ width:271px; height:271px; background-position:-10px -1986px; }

