.careersPage{ background:url("careersPage.png") top left no-repeat; }
.swhover{ width:301px; height:296px; background-position:-10px -10px; }
.hr{ width:286px; height:290px; background-position:-10px -316px; }
.marketing{ width:291px; height:290px; background-position:-10px -616px; }
.design{ width:291px; height:290px; background-position:-10px -916px; }
.sw{ width:301px; height:290px; background-position:-10px -1216px; }
.designhover{ width:295px; height:289px; background-position:-10px -1516px; }
.hrhover{ width:289px; height:289px; background-position:-10px -1815px; }
.marketinghover{ width:293px; height:289px; background-position:-10px -2114px; }
.cssBW{ width:89px; height:92px; background-position:-10px -2413px; }
.html5BW{ width:104px; height:92px; background-position:-109px -2413px; }
.coffeeBW{ width:139px; height:92px; background-position:-10px -2515px; }
.csscolor{ width:89px; height:87px; background-position:-159px -2515px; }
.html5color{ width:88px; height:87px; background-position:-223px -2413px; }
.nodejsBW{ width:165px; height:69px; background-position:-10px -2617px; }
.coffeecolor{ width:155px; height:61px; background-position:-10px -2696px; }
.nodejscolor{ width:165px; height:61px; background-position:-10px -2767px; }

