.element-content {
  margin: 120px 0;
}
.element-content h3 {
  font-weight: bold;
}
.element-content p {
  font-size: 18px;
  line-height: 1.25;
}
.element-box {
  background-color: #1ABB9C;
  border-radius: 100%;
  overflow: hidden;
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 20px 50px;
}
.lightening-anime {
  position: relative;
  overflow: visible;
  float: left;
  top: 126px;
  left: 125px;
}
.light-rod {
  position: absolute;
  background-image: url(../img/shock-sprite.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.element-box:hover .light-rod-1 {
  animation: animationFramesLeftLeft 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesLeftLeft 0.15s linear 0s alternate infinite both;
}
.light-rod-1 {
  background-position: 0 100%;
  width: 108px;
  height: 50px;
  margin-left: -100px;
}
.light-rod-2 {
  width: 80px;
  height: 56px;
  background-position: -33px -50px;
  margin-top: -47px;
  margin-left: -67px;
}
.element-box:hover .light-rod-2 {
  animation: animationFramesTopLeft 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopLeft 0.15s linear 0s alternate infinite both;
}
.light-rod-3 {
  width: 40px;
  height: 93px;
  background-position: -118px 0px;
  margin-top: -90px;
}
.element-box:hover .light-rod-3 {
  animation: animationFramesTopTop 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopTop 0.15s linear 0s alternate infinite both;
}
.light-rod-4 {
  width: 50px;
  height: 76px;
  background-position: -189px -21px;
  margin-top: -68px;
  margin-left: 44px;
}
.element-box:hover .light-rod-4 {
  animation: animationFramesTopRight 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesTopRight 0.15s linear 0s alternate infinite both;
}
.light-rod-5 {
  width: 98px;
  height: 42px;
  background-position: -209px -103px;
  margin-left: 46px;
  margin-top: -10px;
}
.element-box:hover .light-rod-5 {
  animation: animationFramesRightRight 0.15s linear 0s alternate infinite both;
  -webkit-animation: animationFramesRightRight 0.15s linear 0s alternate infinite both;
}
.hand {
  background: url(../img/hand.png) center no-repeat;
  background-size: contain;
  width: 80px;
  height: 99px;
  position: absolute;
  left: -4px;
  top: 10px;
}
@keyframes animationFramesTopLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: -30px;
  }
}
@-webkit-keyframes animationFramesTopLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: -30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesTopRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesTopRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesBottomLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesBottomLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesBottomRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesBottomRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesTopTop {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 0px;
  }
}
@-webkit-keyframes animationFramesTopTop {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -30px;
    left: 0px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesLeftLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: -30px;
  }
}
@-webkit-keyframes animationFramesLeftLeft {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: -30px;
  }
}
/***************************************************************************************************/
@keyframes animationFramesRightRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 30px;
  }
}
@-webkit-keyframes animationFramesRightRight {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: 0px;
    left: 30px;
  }
}
.box-bulb {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.hand-box {
  width: 178px;
  overflow: visible;
  height: 122px;
  background: url(../img/box-hand.png) top left no-repeat;
  background-size: contain;
  position: absolute;
  left: -15px;
  right: 0;
  margin: auto;
  top: 111px;
  bottom: 0;
}
.bulb {
  height: 100px;
  width: 60px;
  background: url(../img/offBulb.png) top left no-repeat;
  background-size: contain;
  position: absolute;
  left: 32px;
  right: 0;
  margin: auto;
  top: -83px;
  bottom: 0;
  overflow: visible;
}
.box-bulb:hover .bulb {
  background: url(../img/onBulb.png) top left no-repeat;
  background-size: contain;
}
.bulb-rays {
  visibility: hidden;
  background: url(../img/bulbRays.png) top left no-repeat;
  height: 100px;
  width: 142px;
  background-size: contain;
  position: absolute;
  left: 39px;
  right: 0;
  margin: auto;
  top: 23px;
}
.box-bulb:hover .bulb-rays {
  visibility: visible;
}
.pencil-brain {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}
.pencil {
  position: absolute;
  top: 157px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  height: 137px;
  width: 55px;
  background: url(../img/pencil.png) left top no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.pencil-brain:hover .pencil {
  animation: pencilAnimation 0.6s ease-in-out 0 infinite;
  -webkit-animation: pencilAnimation 0.6s ease-in-out 0 infinite;
}
.brain {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 124px;
  margin: auto;
  height: 138px;
  width: 154px;
  background: url(../img/brain.png) left top no-repeat;
  background-size: contain;
}
@keyframes pencilAnimation {
  to {
    left: -3px;
  }
  from {
    left: 3px;
  }
}
@-webkit-keyframes pencilAnimation {
  0% {
    left: -6px;
  }
  50% {
    left: 6px;
  }
  100% {
    left: -6px;
  }
}
.lightning-box {
  background-color: #1ABB9C;
  border-radius: 100%;
}
header {
  background-color: #424242;
}
header.relative {
  position: relative;
}
header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900000000;
}
.logo-icon {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #afcd47;
  position: absolute;
  top: 13px;
}
nav ul.list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
nav ul.list li {
  float: left;
  margin-right: 45px;
}
nav ul.list li a {
  text-decoration: none;
}
nav ul.list li a h3 {
  margin: 25px auto;
  font-size: 20px;
  font-family: lato;
  font-weight: 500;
  line-height: 25px;
  color: white;
}
nav ul.list li a h3:hover {
  color: red;
}
nav ul.list li:last-child {
  margin-right: 0;
}
section#hero {
  background: url(../img/home.jpg) center no-repeat;
  background-size: cover  ;
  margin-top: 75px;
  height: 530px;
  width: 100%;
  position: relative;
  z-index: -1;
}
h1.page-title,
h2.subtitle {
  color: #ffffff;
  line-height: 1;
  max-width: 100%;
  margin-bottom: 0;
  text-shadow: 0 1px 2px #666666;
  text-align: center;
}
.careers-jobs-nav {
  background-color: #424242;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.careers-jobs-nav .row {
  margin-left: 0;
  margin-right: 0;
}
.careers-jobs-nav h2 {
  text-align: center;
  color: white;
  font-family: lato;
  margin: 15px auto;
}
.cssBW {
  width: 89px;
  height: 92px;
  background-position: -10px -2413px;
}
.html5BW {
  width: 104px;
  height: 92px;
  background-position: -109px -2413px;
}
.coffeeBW {
  width: 139px;
  height: 92px;
  background-position: -10px -2515px;
}
.csscolor {
  width: 89px;
  height: 87px;
  background-position: -159px -2515px;
}
.html5color {
  width: 88px;
  height: 87px;
  background-position: -223px -2413px;
}
.nodejsBW {
  width: 165px;
  height: 69px;
  background-position: -10px -2617px;
}
.coffeecolor {
  width: 155px;
  height: 61px;
  background-position: -10px -2696px;
}
.nodejscolor {
  width: 165px;
  height: 61px;
  background-position: -10px -2767px;
}
.careersOpenings {
  background: url("careersOpenings.png") top left no-repeat;
  margin-right: 26px;
}
.careersOpenings:last-child {
  margin-right: 0;
}
.design:hover {
  width: 273px;
  height: 274px;
  background-position: -10px -10px;
}
.design {
  width: 273px;
  height: 274px;
  background-position: -10px -294px;
}
.hr {
  width: 271px;
  height: 272px;
  background-position: -10px -578px;
}
.marketing {
  width: 275px;
  height: 272px;
  background-position: -10px -860px;
}
.sw {
  width: 271px;
  height: 272px;
  background-position: -10px -1142px;
}
.hr:hover {
  width: 271px;
  height: 271px;
  background-position: -10px -1424px;
}
.marketing:hover {
  width: 275px;
  height: 271px;
  background-position: -10px -1705px;
}
.sw:hover {
  width: 271px;
  height: 271px;
  background-position: -10px -1985px;
}
.techs {
  background: url("techs.png") top left no-repeat;
}
.css3_bw {
  width: 55px;
  height: 79px;
  background-position: -10px -10px;
}
.css3_bw:hover {
  width: 55px;
  height: 79px;
  background-position: -75px -10px;
}
.html5_bw {
  width: 56px;
  height: 79px;
  background-position: -10px -99px;
}
.html5_bw:hover {
  width: 56px;
  height: 79px;
  background-position: -76px -99px;
}
.coffee_bw:hover {
  width: 118px;
  height: 60px;
  background-position: -10px -188px;
}
.coffee_bw {
  width: 118px;
  height: 60px;
  background-position: -10px -258px;
}
.node_bw:hover {
  width: 142px;
  height: 39px;
  background-position: -11px -329px;
}
.node_bw {
  width: 142px;
  height: 39px;
  background-position: -10px -377px;
}
.meteo {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  background: url(../img/meteo.png) no-repeat;
  background-size: 2500px 200px;
  background-position: -2265px 0px;
  -webkit-transform: rotate(7deg);
  cursor: pointer;
}
.element-box .meteo:hover {
  animation-duration: 250ms;
  animation-timing-function: step-start;
  animation-name: logoanimate;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-name: logoanimate;
}
@-webkit-keyframes logoanimate {
  0% {
    background-position: 87px 0px;
    -webkit-transform: rotate(0deg);
  }
  12% {
    background-position: -206px 0px;
    -webkit-transform: rotate(0deg);
  }
  24% {
    background-position: -500px 0px;
    -webkit-transform: rotate(0deg);
  }
  36% {
    background-position: -800px 0px;
    -webkit-transform: rotate(0deg);
  }
  48% {
    background-position: -1088px 0px;
    -webkit-transform: rotate(0deg);
  }
  60% {
    background-position: -1386px 0px;
    -webkit-transform: rotate(0deg);
  }
  72% {
    background-position: -1675px 0px;
    -webkit-transform: rotate(0deg);
  }
  84% {
    background-position: -1969px 0px;
    -webkit-transform: rotate(0deg);
  }
  100% {
    background-position: -2265px 0px;
    -webkit-transform: rotate(7deg);
  }
}
@-moz-keyframes logoanimate {
  0% {
    background-position: 0px 0;
  }
  25% {
    background-position: 85px 0;
  }
  50% {
    background-position: 170px 0;
  }
  75% {
    background-position: 255px 0;
  }
  100% {
    background-position: 340px 0;
  }
}
footer h5 {
  color: #1ABB9C;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
footer p {
  color: #fff;
  font-size: 15px;
}
form#newsletter input[name="newsletter"] {
  background-color: #fff;
  border: solid #999 1px;
  height: 3.5em;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 205px;
}
form#newsletter input[name="newsletter"]:focus,
form#newsletter input[name="newsletter"]:active {
  background: #fafafa;
  border-color: #999999;
  outline: none;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}
form#newsletter input[name="submit"] {
  background-color: rgba(237, 110, 100, 0);
  border: solid #1abc9c 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none;
  height: 3.5em;
  width: 136px;
  color: #1abc9c;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: bold;
}
#getstarted,
#search-submit {
  background-color: rgba(237, 110, 100, 0);
  border: solid #1abc9c 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: none;
  color: #1abc9c;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#getstarted,
#search-submit {
  width: 10em;
}
#search-submit {
  margin-left: 10px;
}
.prefix.button {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  line-height: 2.125rem;
  border: none;
  overflow: hidden;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.lower-footer .float-right p {
  text-align: right;
  margin: 10px 0;
}
.lower-footer {
  background-color: #2e2f3c;
}
div.lower-footer p,
div.lower-footer h5 {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-family: 'raleway';
  color: white;
}
.transition-properties {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
div.lower-footer p a {
  color: #1ABB9C;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
div.lower-footer p a:hover {
  color: white;
}
.proxlight {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 100;
}
footer div.upper-footer {
  background-color: #252531;
  padding: 5em 0 4em 0;
}
.prox {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 700 !important;
}
#getstarted:hover,
form#newsletter input[name="submit"]:hover {
  text-decoration: none;
  color: white;
  border-color: white;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
