.techs{ background:url("techs.png") top left no-repeat; }
.css3_bw{ width:55px; height:79px; background-position:-10px -10px; }
.css3{ width:55px; height:79px; background-position:-75px -10px; }
.html5_bw{ width:56px; height:79px; background-position:-10px -99px; }
.html5{ width:56px; height:79px; background-position:-76px -99px; }
.coffee{ width:118px; height:60px; background-position:-10px -188px; }
.cofee_bw{ width:118px; height:60px; background-position:-10px -258px; }
.node{ width:142px; height:39px; background-position:-10px -328px; }
.node_bw{ width:142px; height:39px; background-position:-10px -377px; }

